In [1]:
# analizar anomalias en informacion financiera de tarjetas de credito

In [2]:
%load_ext watermark
%watermark

Last updated: 2022-02-03T16:24:21.586640-03:00

Python implementation: CPython
Python version       : 3.8.12
IPython version      : 7.29.0

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
CPU cores   : 12
Architecture: 64bit

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../Ejercicios_Propios/datasets/credit_card.csv')

In [5]:
df.shape

(8950, 18)

In [6]:
df.dtypes

CUST_ID                              object
BALANCE                             float64
BALANCE_FREQUENCY                   float64
PURCHASES                           float64
ONEOFF_PURCHASES                    float64
INSTALLMENTS_PURCHASES              float64
CASH_ADVANCE                        float64
PURCHASES_FREQUENCY                 float64
ONEOFF_PURCHASES_FREQUENCY          float64
PURCHASES_INSTALLMENTS_FREQUENCY    float64
CASH_ADVANCE_FREQUENCY              float64
CASH_ADVANCE_TRX                      int64
PURCHASES_TRX                         int64
CREDIT_LIMIT                        float64
PAYMENTS                            float64
MINIMUM_PAYMENTS                    float64
PRC_FULL_PAYMENT                    float64
TENURE                                int64
dtype: object

In [7]:
df = df.drop(columns='CUST_ID')
df.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [8]:
df.columns[df.isnull().any()]

Index(['CREDIT_LIMIT', 'MINIMUM_PAYMENTS'], dtype='object')

In [9]:
df.isnull().sum()

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [10]:
df = df.fillna(0)

In [11]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [12]:
df.isnull().sum()

BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
TENURE                              0
dtype: int64

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
df_normalizado = pd.DataFrame(StandardScaler().fit_transform(df))

In [15]:
df_normalizado

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-0.731989,-0.249434,-0.424900,-0.356934,-0.349079,-0.466786,-0.806490,-0.678661,-0.707313,-0.675349,-0.476070,-0.511333,-0.960213,-0.528979,-0.297310,-0.525551,0.360680
1,0.786961,0.134325,-0.469552,-0.356934,-0.454576,2.605605,-1.221758,-0.678661,-0.916995,0.573963,0.110074,-0.591796,0.688718,0.818642,0.102042,0.234227,0.360680
2,0.447135,0.518084,-0.107668,0.108889,-0.454576,-0.466786,1.269843,2.673451,-0.916995,-0.675349,-0.476070,-0.109020,0.826129,-0.383805,-0.088489,-0.525551,0.360680
3,0.049099,-1.016953,0.232058,0.546189,-0.454576,-0.368653,-1.014125,-0.399319,-0.916995,-0.258913,-0.329534,-0.551565,0.826129,-0.598688,-0.357035,-0.525551,0.360680
4,-0.358775,0.518084,-0.462063,-0.347294,-0.454576,-0.466786,-1.014125,-0.399319,-0.916995,-0.675349,-0.476070,-0.551565,-0.905249,-0.364368,-0.252238,-0.525551,0.360680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,-0.737950,0.518084,-0.333293,-0.356934,-0.132643,-0.466786,1.269843,-0.678661,1.179833,-0.675349,-0.476070,-0.350408,-0.960213,-0.486217,-0.336106,1.183951,-4.122768
8946,-0.742423,0.518084,-0.329136,-0.356934,-0.122823,-0.466786,1.269843,-0.678661,1.179833,-0.675349,-0.476070,-0.350408,-0.960213,-0.503396,-0.357035,-0.525551,-4.122768
8947,-0.740398,-0.185477,-0.401965,-0.356934,-0.294893,-0.466786,0.854576,-0.678661,0.760469,-0.675349,-0.476070,-0.390639,-0.960213,-0.570615,-0.321751,0.329200,-4.122768
8948,-0.745174,-0.185477,-0.469552,-0.356934,-0.454576,-0.449352,-1.221758,-0.678661,-0.916995,0.157527,-0.182998,-0.591796,-1.097624,-0.580536,-0.333166,0.329200,-4.122768
8949,-0.572575,-0.889033,0.042146,0.301732,-0.454576,-0.406205,0.439310,1.556082,-0.916995,0.990398,-0.182998,0.333524,-0.905249,-0.576869,-0.319238,-0.525551,-4.122768

In [16]:
from sklearn.cluster import DBSCAN

In [17]:
estimador_dbscan = DBSCAN()

In [18]:
labels = estimador_dbscan.fit_predict(df_normalizado)
labels

array([ 0, -1, -1, ..., -1, -1, -1], dtype=int64)

In [19]:
pd.Series(labels).value_counts()

-1     6627
 0     1948
 10      60
 2       34
 15      30
 14      23
 7       23
 8       14
 6       13
 3       11
 29      10
 21       9
 5        9
 9        8
 26       8
 12       8
 1        8
 17       7
 19       7
 27       7
 11       7
 13       6
 4        6
 23       6
 31       5
 35       5
 16       5
 18       5
 25       5
 24       5
 28       5
 20       5
 22       5
 30       5
 34       4
 32       4
 33       3
dtype: int64

In [20]:
DBSCAN().get_params()

{'algorithm': 'auto',
 'eps': 0.5,
 'leaf_size': 30,
 'metric': 'euclidean',
 'metric_params': None,
 'min_samples': 5,
 'n_jobs': None,
 'p': None}

In [21]:
from sklearn.metrics import silhouette_score

In [22]:
silhouette_score(df_normalizado, labels)

-0.46596190778573116

In [23]:
from scipy.stats import randint as sp_randint
from scipy.stats import uniform

In [24]:
distribucion_parametros = {
    'eps':uniform(0,5),
    'min_samples':sp_randint(2,20),
    'p': sp_randint(1,3)
}

In [25]:
import numpy as np
from sklearn.model_selection import ParameterSampler

In [26]:
n_muestras = 10
porcentaje_muestra = .7

In [27]:
resultado = list(ParameterSampler(distribucion_parametros, n_iter=n_muestras))
resultado

[{'eps': 0.6188478839049244, 'min_samples': 2, 'p': 2},
 {'eps': 0.8018536927289344, 'min_samples': 8, 'p': 1},
 {'eps': 4.573116996891089, 'min_samples': 15, 'p': 1},
 {'eps': 0.6471077958550109, 'min_samples': 17, 'p': 2},
 {'eps': 0.9433884361645806, 'min_samples': 3, 'p': 2},
 {'eps': 4.864380854910905, 'min_samples': 19, 'p': 2},
 {'eps': 2.6999445056364113, 'min_samples': 15, 'p': 2},
 {'eps': 2.7643590829856213, 'min_samples': 8, 'p': 2},
 {'eps': 3.8202194097911772, 'min_samples': 17, 'p': 1},
 {'eps': 1.0189918906571234, 'min_samples': 2, 'p': 2}]

In [28]:
n_iteraciones = 3
resultados_busqueda = []
for p in resultado:
    for iteracion in range(n_iteraciones):
        param_resultados = []
        muestra = df_normalizado.sample(frac=porcentaje_muestra)
        etiquetas_cluster = DBSCAN(n_jobs=-1, **p).fit_predict(muestra)
        try:
            param_resultados.append(silhouette_score(muestra, etiquetas_cluster))
        except:
            pass
    puntuacion = np.mean(param_resultados)
    resultados_busqueda.append([puntuacion, p])

In [29]:
sorted(resultados_busqueda, key=lambda x : x[0], reverse=True)[:5]

[[0.7346741241889044, {'eps': 4.864380854910905, 'min_samples': 19, 'p': 2}],
 [0.7016038480589986, {'eps': 4.573116996891089, 'min_samples': 15, 'p': 1}],
 [0.6619263997677061, {'eps': 3.8202194097911772, 'min_samples': 17, 'p': 1}],
 [0.5893409367056257, {'eps': 2.7643590829856213, 'min_samples': 8, 'p': 2}],
 [0.569397197327131, {'eps': 2.6999445056364113, 'min_samples': 15, 'p': 2}]]

In [30]:
buenos_param ={'eps': 4.864380854910905, 'min_samples': 19, 'p': 2}
clus_dbscan = DBSCAN(n_jobs=-1, **buenos_param)
labels_dbscan = clus_dbscan.fit_predict(df_normalizado)
pd.Series(labels_dbscan).value_counts()

 0    8876
-1      74
dtype: int64

In [31]:
# hay '74' anomalias, usando hiperparametros optimos

In [37]:
def resu_cluster(cluster_id):
    cluster = df[labels_dbscan == cluster_id]
    resumen = cluster.mean().to_dict()
    resumen['cluster_id'] = cluster_id
    return resumen

In [40]:
def comparar_cluster(*cluster_ids):
    resu = []
    for cluster_id in cluster_ids:
        resu.append(resu_cluster(cluster_id))
    return pd.DataFrame(resu).set_index('cluster_id').T

In [41]:
comparar_cluster(0, -1)

cluster_id                                  0            -1
BALANCE                           1526.592127   6108.351152
BALANCE_FREQUENCY                    0.876696      0.946233
PURCHASES                          907.228039  12515.232297
ONEOFF_PURCHASES                   527.531924   8377.582568
INSTALLMENTS_PURCHASES             379.998799   4137.649730
CASH_ADVANCE                       931.933593   6608.836294
PURCHASES_FREQUENCY                  0.488398      0.724590
ONEOFF_PURCHASES_FREQUENCY           0.199995      0.497853
PURCHASES_INSTALLMENTS_FREQUENCY     0.362362      0.613405
CASH_ADVANCE_FREQUENCY               0.133731      0.304668
CASH_ADVANCE_TRX                     3.112438     19.608108
PURCHASES_TRX                       14.070302     91.418919
CREDIT_LIMIT                      4424.732777  12795.945946
PAYMENTS                          1591.580965  18713.038245
MINIMUM_PAYMENTS                   770.781789   8414.766858
PRC_FULL_PAYMENT                     0.152653      0.281003
TENURE                              11.516111     11.662162

In [42]:
# 0 es normal y -1 son anomalias
# por ejemplo en compras, el promedio normal es de 907 mientras que en anomalias es de 12515.